@keyframes trenxuong {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes duoilen {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes traiqua {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes phaiqua {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    50% {
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.intro{
	animation :  duoilen 1s ease-out;
}
.intro img{
    width:500px;
    height: 350px;
}
.intro h1{

	font-size: 2.2rem;
	line-height: 1.3;
    color: #3e3e3e;
font-weight: 700!important;
}
.intro h3{
	font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    color: #3e3e3e;
}

.overview{

	margin-top: 5%;
	background-color: #fff;
	
}
.col-12{
	width: 90%;
}
.overview p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9;
    color: #3e3e3e;
    text-align: left;
}