


.item:hover .detail{
    display: block;

    animation: detail 0.5s ease-out;
}
.item{
    transition: .5s;
    margin-bottom: 10% !important ;
    background-color: ;
}
.item:hover{
    transform: translateY(-4px);
    
    text-decoration: none !important;

}
.info{
        width: 80%;
        position: relative;
        height: 100px;

}
.info .infor span {
       /*  margin-top: 55px !important; */
    color: #3e3e3e !important;
    line-height:1.2 ;
    position: absolute;
}
.detail{
    width: 78%;
    height: 70%;
    background-color: #00000054;
    position: absolute;
    text-align: center;
    z-index: 100;
    display: none;
    transition: 0.5s;
    border-radius: 15px;
}
.item{
    width: 100% ; 
    margin:auto; 
    height: 380px; 
    position: relative;

}
.name_direc span{
    font-weight: bold;
    color: #3e3e3e;
    font-size: 1.2rem;

    font-family: Montserrat,sans-serif;



}
.detail span{
    padding: 5px;
    position: absolute;
    color: #fff;
    top: 45%;
    left: 40%;
    font-size: 15px;
}
.thumb{
    width: 80%;
    height: 70%;
/*     background-color: #45454529; */
    animation: opacity 1.3s ease-out;
    position: relative;
   

}

.thumb img{
    border-radius: 13px;
    position: absolute;
    width: 356.75px;
    height: 264.25px;


}
.pagination{
    font-size: 35px;
    position:relative;
    margin-bottom: 2%;
    margin-left: 43%;
}
.pagination .page-item{
    text-align: center;
    margin-right: 15px;
    font-weight: bold;
    color: #962629;
}
.pagination .page-item:hover{
    color: #2e5288;
}


@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes trenxuong {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes duoilen {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes traiqua {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes phaiqua {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    50% {
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes detail {
    0% {
        opacity: 0;
        height: 0%
    }
    50%{
         opacity: 1;
        height: 66%;
    }
    60%{
        
        height: 45%;
    }
    70%{
        height: 66%;
    }
    80%{
        height: 52%;
    }
    90%{
        height: 66%;
    }
    100% {
      height: 66%;
    }
}
